* {
  margin: 0px;
}
.sign-page {
  background-image: linear-gradient(
    to right bottom,
    #010e11,
    #010e11,
    #010e11,
    #010e11,
    #010e11,
    #0c1f23,
    #0f3035,
    #104247,
    #116d6e,
    #1e9b92,
    #3ccbb1,
    #67fccb
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  background: rgba(133, 216, 216, 0.22);
  border-radius: 12px;
  padding: 25px 50px 30px 50px;
  backdrop-filter: blur(30);
  width: 80%;
  max-width: 360px;
}
.sign-in-heading {
  font-family: "Poppins";
  font-size: 39px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  background: linear-gradient(180.51deg, #01b5ff, #00c957);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}
.login-message {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: hsla(0, 0%, 100%, 0.70196);
  text-align: center;
}
.icons {
  height: 26px;
  width: 26px;
  color: #ffffff;
  position: absolute;
  margin-left: 4px;
  margin-right: 4px;
}
.input-box {
  display: flex;
  align-items: center;
  /* border: 1px solid #00dfc4;
  border-radius: 6px;
  padding-left: 8px; */
  margin-bottom: 20px;
  margin-top: 8px;
  position: relative;
}
/* input:focus {
  border: solid 2px;
  outline: none !important;
  border-image-source: linear-gradient(240.51deg, #01b5ff, #00c957);
  border-image-slice: 1;
  background-color: transparent;
  border-radius: 6px;
} */
.user-input {
  border: none;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding-left: 8px;
  background-color: transparent;
  height: 35px;
  width: 100%;
  padding-left: 38px;
  outline: none;
  font-family: "Poppins";
  font-size: 19px;
  font-weight: 500;
  color: #f8f8f8;
}
.user-input:focus {
  border: 1.5px solid #00dfc4;
}
.check-box {
  width: 20px;
  height: 20px;
  clip-path: circle(55% at 50% 50%);
  cursor: pointer;
}
.label-text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  color: #f8f8f8;
  margin-left: 6px;
  cursor: pointer;
}
.label-box-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}
.sign-in-button {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins";
  border-radius: 7px;
  border: none;
  width: 100%;
  height: 35px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
}
.sign-in-button:hover {
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.sign-up-msg {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  color: #f8f8f8;
  text-align: center;
  margin-top: 25px;
}
.sign-forgot {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  color: #00008b;
}
.sign-forgot:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #1bfd9c;
}
.link {
  text-decoration: none;
}
.show-button {
  background-color: transparent;
  width: 80px;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  color: #f8f8f8;
  position: absolute;
  right: 0;
}
.sign-forgot-link {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  color: #00008b;
}
.sign-forgot-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #ff7267;
}
.checkbox-password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.icons-container {
  height: 36px;
  text-decoration: none;
  width: 36px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.twitter-icon {
  background-color: #1da1f2;
  color: #ffffff;
  cursor: pointer;
}
.twitter-icon:hover {
  box-shadow: 0px 0px 15px 2px #1da1f2;
  transform: scale(1.07);
}
.mail-icon {
  background-color: #f2f2f2;
  color: #f14336;
  cursor: pointer;
}
.mail-icon:hover {
  box-shadow: 0px 0px 20px 2px #6632a8;
  transform: scale(1.07);
}
.fb-icon {
  background-color: #0077b7;
  color: #f2f2f2;
  cursor: pointer;
}
.fb-icon:hover {
  box-shadow: 0px 0px 15px 2px #0077b7;
  transform: scale(1.07);
}
.login-social-text {
  font-family: "Poppins";
  color: hsla(0, 0%, 100%, 0.70196);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
  .form {
    padding: 15px 20px 25px 20px;
  }
  .label-text {
    font-size: 16px;
  }
  .sign-in-heading {
    font-size: 34px;
  }
  .login-message {
    font-size: 16px;
  }
  .user-input {
    font-size: 16px;
  }
}

.error-message {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
